:root {
    --clr-primary-300: #7897ff;
    --clr-primary-400: #5e7ce2;

    --clr-success-400: #5fe07a;

    --clr-neutral-100: #ffffff;
    --clr-neutral-150: #929292; 
    --clr-neutral-200: #7a7a7a; 
    --clr-neutral-250: #5E5E5E;
    --clr-neutral-300: #4d4d4d;
    --clr-neutral-400: #444444;
    --clr-neutral-900: #333333;

    --clr-accent-400: #da9d68;

    --clr-error-300: #ff5a5a;
    --clr-error-400: #ff4f4f; 

    --ff-primary: 'Inter', sans-serif;
    --ff-title: "DotGothic16", sans-serif;
    --ff-detail: "DotGothic16", sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-300: .875rem;
    --fs-400: 1rem;
    --fs-450: 2rem;
    --fs-500: 2.75rem;
    --fs-600: 3.5rem;
    --fs-700: 4.5rem;

    --fs-detail: var(--fs-300);
    --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-700);
    --fs-secondary-heading: var(--fs-600);
    --fs-sub-heading: var(--fs-450);
    --fs-form-submit: 2.5rem;
    --fs-stat: var(--fs-500)

}

.text-neutral-100 {
    color: var(--clr-neutral-100)
}

.text-neutral-200 {
    color: var(--clr-neutral-200)
}

.text-neutral-400 {
    color: var(--clr-neutral-400);
}

.text-neutral-900 {
    color: var(--clr-neutral-900)
}

.text-accent-400 {
    color: var(--clr-accent-400);
}

.bg-neutral-100 {
    color: var(--clr-neutral-100);
}

.bg-neutral-900 {
    color: var(--clr-neutral-900);
}

.ff-title { font-family: var(--ff-title); }
.ff-detail { font-family: var(--ff-detail); }

.fw-bold { font-weight: var(--fw-bold); }
.fw-semi-bold { font-weight: var(--fw-semi-bold); }
.fw-medium { font-weight: var(--fw-medium); }
.fw-regular { font-weight: var(--fw-regular); }

.fs-detail {
    font-size: var(--fs-detail);
}

.fs-primary-heading {
    font-size: var(--fs-primary-heading);
}

.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
}

.fs-sub-heading {
    font-size: var(--fs-sub-heading);
}

.fs-stat {
  font-size: var(--fs-stat);
}

.clr-primary-400 {
  color: var(--clr-primary-400);
}

  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  
  /* Remove default margin in favour of better control in authored CSS */
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }
  
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }
  
  /* Set core body defaults */
  body {
    line-height: 1.5;
  }
  
  /* Set shorter line heights on headings and interactive elements */
  h1, h2, h3, h4,
  button, input, label {
    line-height: 1.1;
  }
  
  /* Balance text wrapping on headings */
  h1, h2,
  h3, h4 {
    text-wrap: balance;
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }
  
  /* Make images easier to work with */
  img,
  picture,
  svg {
    max-width: 100%;
    display: block;
  }
  
  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-height: 10em;
  }
  
  /* Anything that has been anchored to should have extra scroll margin */
  :target {
    scroll-margin-block: 5ex;
  }
  
  /* Remove all animations and transitions for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

:root {
  background-color: var(--clr-neutral-900);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

input {
  border: none;
  resize: none;
  outline: none;
  background-color: transparent;
}

.test::before {
  content: url("github-logo.svg");
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-right: 5px;
}

.link-text {
  text-decoration: none;
  color: var(--clr-neutral-200);
}

.content-container {
    display: block;
    padding: 3rem 2rem;
    margin: 0 2.5rem;
    width: 100%;
    max-width: 1000px;
    margin-inline: auto;
    
}

/* .full-width {
  margin-inline: auto;
} */

/* .content-grid {
  display: grid;
  justify-content: center;
} */

.info-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 4rem;
  width: 100%;
  align-items: center;
}

.warning-wrapper {
  display: flex;
  /* grid-template-columns: 7rem 7rem;
  grid-template-rows: 1fr; */
  width: fit-content;
  gap: 1rem;

  /* justify-content: right; */
  margin-left: auto;

}

.warning-container {
  height: fit-content;
  width: fit-content;
  min-width: 6rem;
  padding: 0.4rem 0.5rem;
  background-color: #d8a935;
  border-radius: 0.4rem;
  border: black solid 2px;
  box-shadow: 0.25em 0.25em 0em 0em rgba(0, 0, 0, 1);
  color: var(--clr-neutral-900);
  text-align: center;
}

.typing-wrapper {
    /* width: 100%; */
    height: 155px;
    position: relative;
    margin-bottom: 3rem;
    max-width: 1000px;
}

.word-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-block: 1rem;
    height: 155px;
    width: 100%;
}

.word {
  width: fit-content;
  height: fit-content;
  margin: 0.25rem 0.5rem;
  font-size: var(--fs-sub-heading);
  font-family: monospace;
  line-height: var(--fs-500);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.typing-input {
    background-color: yellow;
    /* border: none;
    resize: none;
    outline: none; */
    z-index: -1;
    font-size: var(--fs-sub-heading);
    height: var(--fs-secondary-heading);
    opacity: 0;
    padding: 0;
    margin: 0;
    width: 10rem;
    pointer-events: none;
    display: block;
    position: absolute;
    cursor: pointer;
    top: 8px;
}

#cursor {
  height: var(--fs-sub-heading);
  width: .25rem;
  /* margin-block: 0.25rem; */
  /* border-radius: .2rem; */
  /* background-color: var(--clr-success-400); */
  background-color: #d8a935;
  position: absolute;
  z-index: 2;
  margin-left: 0.5rem;
  animation: cursorBlink 1.25s ease-in-out infinite;
  transition: left 0.1s ease-in-out;
}

@keyframes cursorBlink {
  0%, 100% {
    background-color: transparent;
  }
  50% {
    /* background-color: var(--clr-success-400); */
    background-color: #d8a935;
  }
}

.stat-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-block: 1rem;
}

.stat-title {
  color: var(--clr-neutral-300);
  font-family: "DotGothic16", sans-serif;
  font-weight: var(--fw-semi-bold);
}

.stat-item {
  font-family: "DotGothic16", sans-serif;
  height: 6rem;
  width: 100%;
  max-width: 225px;
}


.control-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 4rem;
    height: 2.25rem;
    cursor: pointer;
    text-decoration: none;
    border: black solid 2px;
    border-radius: 0.5rem;
    padding: 0.25em 1em;
    font-size: var(--fs-400);
    font-weight: var(--fw-semi-bold);
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-400);
    box-shadow: 0.25em 0.25em 0em 0em rgba(0, 0, 0, 1);
  
    transition: background-color 0.25s ease-in-out;
    transition: box-shadow 0.25s ease-in-out;
}

.control-btn:hover{
    background-color: var(--clr-primary-300);

    box-shadow: 0.2em 0.2em 0em 0em rgba(0, 0, 0, 1);
    transition: background-color 0.25s ease-in-out;
    transition: box-shadow 0.25s ease-in-out;
}

[data-title]:hover:after {
  opacity: 1;
  visibility: visible;
  transition: all 0.125s ease-in-out 1s;
}

[data-title]:after {
  opacity: 0;
  font-size: var(--fs-body);
  font-weight: var(--fw-semi-bold);
  font-family: monospace;
  content: attr(aria-label);
  position: absolute;
  top: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-align: center;
  background-color: #d8a935;
  color: black;
  border: black solid 2px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  z-index: 10;
  box-shadow: 0.25em 0.25em 0em 0em rgba(0, 0, 0, 1);
  visibility: hidden;
  transition: all 0.125s ease-in-out 0.25s;
}

[data-title] {
  position: relative;
}

.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.page-title {
    /* font-family: monospace; */
    font-family: "DotGothic16", sans-serif;
    font-size: var(--fs-primary-heading);
    font-weight: var(--fw-bold);
    margin-block: 0.5rem;
}

.page-desc {
    font-family: "DotGothic16", sans-serif;
    font-size: var(--fs-body);
}

.timer-wrapper {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
  margin: 0;
}

.timer-controls {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: fit-content;
}

.timer {
  width: 6.5rem;  
  font-family: var(--ff-detail);
  font-size: var(--fs-secondary-heading);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-primary-400);
}

.timer-btn {
  height: 3.25rem;
  width: 2.25rem;
  font-family: var(--ff-detail);
  border: black solid 2px;
  border-radius: 0.35rem;
  background-color: var(--clr-neutral-300);
  box-shadow: 0.2em 0.2em 0em 0em rgba(0, 0, 0, 1);
  text-decoration: none;

  transition: background-color 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
}

.timer-btn:hover {
  background-color: var(--clr-primary-400);
  box-shadow: 0.15em 0.15em 0em 0em rgba(0, 0, 0, 1);
  cursor: pointer;

  transition: background-color 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
}

.test-over {
    color: var(--clr-error-400);
}

.timer-presets {
  list-style: none;
  display: flex;
  gap: 0.75rem;
  background-color: var(--clr-neutral-300);
  border: black solid 2px;
  box-shadow: 0.25em 0.25em 0em 0em rgba(0, 0, 0, 1);
  height: 2.25rem;
  border-radius: 0.35rem;
  align-items: center;
  padding-inline: 1rem;
  color: var(--clr-neutral-200);
}

.timer-presets li {
  text-decoration: none;
  font-family: var(--ff-detail);
}

.timer-presets li:hover {
  cursor: pointer;
  color: var(--clr-neutral-150);
}

.timer-presets li.active {
  color: var(--clr-primary-400) !important;
}

.timer-presets li.active:hover {
  /* cursor: pointer; */
  color: var(--clr-primary-300) !important;
}


.score-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
    margin-inline: auto;
    width: fit-content;
}

.score-list {
    background-color: var(--clr-neutral-400);
    border-radius: 0.5rem;
    width: 400px;
    height: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 0.5rem;
    border: black solid 2px;
    box-shadow: 0.25em 0.25em 0em 0em rgba(0, 0, 0, 1);
    font-family: var(--ff-detail);
    font-weight: var(--fw-bold);
    list-style-type: none;
    text-align: center;
}

.score-item {
    font-size: var(--fs-body);
    font-weight: var(--fw-semi-bold);
    padding: 10px;
    width: 100%;
}

.delete-btn {
  height: 3.25rem;
  width: 2.25rem;
  font-family: var(--ff-detail);
  border: black solid 2px;
  border-radius: 0.35rem;
  background-color: var(--clr-error-400);
  box-shadow: 0.2em 0.2em 0em 0em rgba(0, 0, 0, 1);
  text-decoration: none;

  transition: background-color 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
}

.delete-btn:hover {
  background-color: var(--clr-error-300);
  box-shadow: 0.15em 0.15em 0em 0em rgba(0, 0, 0, 1);
  cursor: pointer;

  transition: background-color 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
}

.inactive {
    color: var(--clr-neutral-300);
}

.active {
    color: #6f6f6f;
}

.correct {
    color: var(--clr-success-400) !important;
}

.typed {
  color: var(--clr-neutral-100);
}

.incorrect {
    color: var(--clr-error-400);
}

.extra {
  opacity: 0.25;
}

.control-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
}

.control-container {
  display: flex;
  gap: 1.5rem;
  margin-inline: auto;
  margin-bottom: 1rem;
}

.control-shortcuts {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: var(--clr-neutral-200);
  font-size: var(--fs-detail);
  font-weight: var(--fw-semi-bold);
  justify-content: center;
  gap: 1.25rem;
  font-family: var(--ff-detail);
  letter-spacing: 1.5px;
}

.key {
  background-color: var(--clr-neutral-200);
  border-radius: 0.25rem;
  padding: 0.15rem 0.25rem;
  color: var(--clr-neutral-900);
  font-weight: var(--fw-semi-bold);
  border: black solid 2px;
  box-shadow: 0.25em 0.25em 0em 0em rgba(0, 0, 0, 1);
  transition: box-shadow 0.25s ease-in-out;
  
}

.key:hover {
  box-shadow: 0.125em 0.125em 0em 0em rgba(0, 0, 0, 1);
  transition: box-shadow 0.25s ease-in-out;
}

.links-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
  margin-inline: auto;
  text-align: center;
  max-width: 500px;
}

#inspo-link {
  color: var(--clr-primary-400);
  text-decoration: none;
}

@media (max-width: 50em) {
  .info-bar {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 12rem;
    gap: 1rem;
  }

  .timer-wrapper {
    display: grid;
    gap: 1rem;
    justify-content: center;
  }

  .timer {
    margin-inline: auto;
  }

  .warning-wrapper {
    margin-right: auto;
  }
}

@media (max-width: 32em) {
  .stat-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 200px;
  }

  .score-list {
    display: block;
    width: 175px;
    height: fit-content;
    padding: 0.5rem;
  }

  .delete-btn {
      margin-block: auto;
  }
}